@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body {
  @apply min-h-full flex flex-col;
}

#app {
  @apply flex-1 min-h-full flex flex-col;
}

main {
  @apply flex-1 flex items-center justify-center;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
